# Backup files
*.bak
*.bak.meta

# Build
.build/

# NuGet
packages/

# Unity
UnityClient/Library/
UnityClient/Temp/
UnityClient/*.sln
UnityClient/*.csproj

# Visual Studio
.vs/
*.csproj.user
*.suo

# Visual Studio Code
.vscode/