# Backup files
*.bak
*.bak.meta

# Build
.build/

# Log files
*.log

# NuGet
/packages/

# Unity
/UnityClient/Assets/Plugins/
/UnityClient/Assets/Plugins.meta
/UnityClient/Library/
/UnityClient/Temp/
/UnityClient/*.sln
/UnityClient/*.csproj

# Visual Studio
.vs/
*.csproj.user
*.suo

# Visual Studio Code
.vscode/

# Game user data
/UnityClient/UserData
